<div class="login-card">
<mat-card>
    <mat-card-title>Log In </mat-card-title>
    <form action="" [formGroup]="bioSection"  (ngSubmit)="callingFunction()" >
      <!-- {{bioSection}} -->

      <!-- <p>
        Real-time data:   {{bioSection.value | json}}
      </p> -->
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput  autocomplete="off" formControlName="firstName">
              </mat-form-field>
            
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput  autocomplete="off" type="password" formControlName="password">

              </mat-form-field>
            </mat-card-content>
              <button mat-raised-button color="primary" type="submit" [disabled]="!bioSection.valid">Log In</button>
             
       
    </form>
</mat-card>
</div>

